# Large Data
Datasets/
frames/
faces/

# Virtual Environments
.venv/
venv/
env/
ENV/

# Outputs
outputs/
*.pth
*.pt
*.csv
*.txt
!requirements.txt
!docs/*.md
!docs/exports/

# Notebooks
notebooks/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
/build/
/dist/

# IDE & OS
.vscode/
.idea/
*.swp
Thumbs.db
.DS_Store
*.log
